<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331638091343-702nrnrht4vkspon6820hh23r9fp2s3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331638091343-702nrnrht4vkspon6820hh23r9fp2s3k</string>
	<key>API_KEY</key>
	<string>AIzaSyCiX5-iXVoR_jIVs21TMg3kUWG2JvtncNw</string>
	<key>GCM_SENDER_ID</key>
	<string>331638091343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jiasaz.tvRepair</string>
	<key>PROJECT_ID</key>
	<string>tv-repair-bc6f5</string>
	<key>STORAGE_BUCKET</key>
	<string>tv-repair-bc6f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331638091343:ios:2a842f9644e9069758443a</string>
</dict>
</plist>